<!DOCTYPE html>
<html>
  <head>
    <title>the Social Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-gray-100">
    <%= render partial: "navbar" %>
    <section class="flex container gap-x-2 mx-auto text-gray-600">
      <%= render partial: "left_bar" %>
      <%= yield %>
      <%= render partial: "right_bar" %>
    </section>
  </body>
</html>
